.signPage{
    form{
        max-width: 250px;
        margin: 100px auto;
        display:  flex;
        flex-direction: column;
        h1{
            text-align: center;
        }
        input{
            outline: none;
            font-size: 16px;
            padding: 13px 5px;
            margin: 5px 0px;
        }
        button{
            margin-top: 10px;
            font-size: 16px;
            cursor: pointer;
            background-color:rgb(15, 146, 15);
            font-weight: 700;
            color: #fff;
            border: none;
            border-radius: 5px;
            height: 40px;
        }
        button[disabled]:disabled{
            background-color:rgb(57, 109, 57);
        }
    }
    &__err{
        color: brown;
        font-size: 14px;
        font-weight: 500;
        margin-left: 2px;
    }
}